<div class="container mt-5">
  <h1>Edit task</h1>

  <%= render "form", task: @task %>

  <hr>
  <%= link_to tasks_path do %>
    <i class="fa-regular fa-hand-point-left"></i> Back to list
  <% end %>
</div>
